/*
Button begin
*/

.button:hover {
    background-color: white;
}






/*
Button bend
*/
form{
    display: inline;
}


div.auto{
    height: auto;
    border: 1px solid black;
    background-color:white;
}



ul{
    margin-top: 0px;
    float:right;
    list-style-type: none;
}

ul li{
   display: inline-block;
}

ul li a{
    
    color: black;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    text-decoration: aqua;
}
ul li a:hover{
    background-color: white;
}
ul li.active a{
    background-color: white; 
}



.picture img
{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
    background-position: center center;
    background-repeat: no-repeat;
margin-top: -30px;
}

.logo img{
    margin-top: 5px;
    margin-bottom: 20px;
    float: left;
    width: 50px;
    height: auto;

}

.main{
    max-width: 1920px;
}


